@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body{
	padding: 0;
    margin: 0;
	width: 300px;
	height: 180px;
	background-color:#444;
	font-family: 'Open Sans', sans-serif;
}

#scratchBtn{
  color: #333;
  margin-left: 20px;
  font-weight: 700;
  padding: 5px;
  outline: none;
  border-style: none;
  border-radius: 3px;
  background-color: #FEAD0E;
}

#scratchBtn:hover{
    background-color: #b28635;
    cursor: pointer;

}

#s2{

    padding-top: 5px;

}
#s3{
  padding-top: 8px;
  font-size: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

.sv{
  margin-top: 20px;
  margin-left: 10px;
}
.switchText{
  width: 100%;
  height: 30px;
  padding-left: 20px;
  padding-top: 13px;
  background-color: #333;
	color: #fff;
  font-weight: 700;
  margin-bottom: 1px;
}
.extname{
  line-height: 70px;
	width: 100%;
	height: 70px;
	background-color: #4d97ff;
	padding-left: 20px;
	font-size: 20px;
	color: #ffffff;
}

.switch {
  position: absolute;
  left: 0%;
  top: -45%;
	margin-left: 20px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider{
  background-color: #4d97ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(22px);

}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}